<style>
  
    .body{
        background-color: black;
     
    }
    .cent{
         text-align: center;
         padding: 100px;
    }
    .txttitle{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: white;
        padding: 10px;
    }
    p{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(255, 255, 255);
    }

</style>
<div class=" container-fluid body">
 <div class="container cent  ">
   <div>
    <span  class="txttitle   ">Where Quality &  Clarity Matters</span>
     <div style="color: white;">
        <p>Watch Telugu Movies in HD, Exclusively Avalible On IBOMMA.COM </p>
     </div>
   </div>

  

 </div>
 <div class="container   ">
   <app-cards></app-cards>
 </div>
</div>
