  <style>
    .vhe{
        height: 100vh;
        color: white;
     
    }
    .content{
        padding: 150px;
    box-shadow: 0px 3px 14px 0px gray;
    border-radius: 41px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    }
    button{
        background-color: yellow;
        border: 1px black;
        margin-top: 30px;
        padding: 10px;
        width: 100px;
        border-radius: 20px;
    }
    button:active{
        background-color:rgb(201, 201, 0) ;
    }
    .inputtype{
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }
  </style>

 <div class="container-fluid bg-dark">
    <div class="container  ">
         <div class="vhe p-4    ">
              <div class="content ">
               <h3><b>Admin Login</b></h3>
               <br>  
               <div>
                    <dd>username</dd>
                 
                    <dd> <input type="text"  class="inputtype" name="" id=""></dd>
                   
                    <dd> password</dd>
                    
                    <dd> <input type="password" class="inputtype"  name="" id=""></dd>
             
                    <button>Login</button>

                 </div>
              </div>
         </div>

    </div>
 </div>