 <style>
   .hi{
    height: 100vh;
   }
   p{
    color: rgb(130, 130, 130);
   }
 </style>

 
<div class="container-fluid bg-dark hi ">
  <div class="container bg-dark hi p-4 ">
       
    <h2 style="color: white;">About</h2>
    <br>
    <p>IBOMMA.ONE is an exclusive Telugu Movies online video streaming and downloading platform</p>
  
    <p>Our extensive contrent libary includes Telugu moviews across geners. Out content is regular added and is suited exclusively for the Telugu Audience</p>

    <p>we offer a comfortable and feiendly user experience with highly envolved video streaming technology at amazing speed and clear sounds. Navigation, Seamless VIdeo playback Smart Content Search & recommendation and much more All you need is a compatibale smart mobile</p>

    <p>iBOMMA.ONE-Where Quality and Clarity Matters</p>
</div>
</div>
 